<div>
  <nav class="navbar navbar-light" style="background-color: #dce6ec">
    <span class="navbar-brand mb-0 h1">Welcome!</span>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <div
    class="card-deck"
    style="margin-top: 10em; width: 46em; margin-left: 17em"
  >
    <div class="card">
      <img
        class="card-img-top images"
        src="../../assets/images/Laptop.jpg"
        routerLink="/laptops"
        alt="Laptop"
      />
      <div class="card-body">
        <h5 class="card-title">Laptops</h5>
        <p class="card-text">Browse the wide range of Laptops Here</p>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card">
      <img
        class="card-img-top images"
        src="../../assets/images/Desktop.jpg"
        routerLink="/desktops"
        alt="Desktop"
      />
      <div class="card-body">
        <h5 class="card-title">Desktops</h5>
        <p class="card-text">Browse the wide range of Desktops Here</p>
      </div>
    </div>
  </div>
</div>
